.about-container {
    margin: 4rem 6rem;
  }
  
  .about-container h1 {
    font-size: 3rem;
  }
  
  .about-container h2 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  
  .about-container p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .about-container ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
  }
  
  .about-container li {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  @media screen and (max-width: 850px) {
    .about-container {
      margin: 4rem 2rem;
    }
  }
  
  